summary {
  list-style-type: none;
  max-width: 90%;
  font-weight: bold;
  color: #2c1140;
}

summary::after {
  content: "➕";
  cursor: pointer;
  padding: 0 0 0 5px;
}

details div {
  display: flex;
  justify-content: flex-end;
}

details[open] summary::after {
  content: "➖";
  cursor: pointer;
}

.card-details {
  article {
    padding: 0.5rem;
  }
  fieldset {
    background-color: #f7ebd6;
    border-radius: 1rem;
    border: 1px solid #b89662;
  }
}

.go-top {
  background: none;
  border: none;
  color: #2c1140;
  padding: 0.5rem;
  transition: filter 0.3s ease;
}
.go-top:hover {
  color: #b89662;
}
