* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  cursor: pointer;
}*/

button {
  border-radius: 5px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #faf6ed;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Emilys Candy", serif;
  text-wrap: balance;
  color: #2c1140;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #faf6ed;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
