.main {
  display: grid;
  justify-content: center;
  grid-template-columns: calc(60% - 1px - 4rem) 1px calc(40% - 4rem);
  justify-items: center;
  height: 100dvh;
  padding: 1rem 16rem;
  position: relative;
  gap: 4rem;
  figcaption {
    padding: 1rem 0 0 0;
  }
}

.card-draw {
  width: 100%;
}

.card-draw-form {
  display: flex;
  flex-direction: column;
  form {
    position: relative;
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem 0 1.8rem 0;
    input {
      width: 100%;
      border: 1px solid #b9bbb1;
      border-radius: 0.5rem;
      padding-left: 0.5rem;
    }
    & input::placeholder {
      opacity: 0.5;
    }
  }
}

.read-separator {
  height: 100%;
  width: 1px;
  background-color: #2c1140;
}

.card-draw-form-list img {
  width: 90%;
  mix-blend-mode: multiply;
  margin: 0 auto;
}

.card-draw-form-list ul {
  display: flex;
  figcaption {
    text-align: center;
  }
}

.list-buttons {
  display: flex;
  padding: 3rem 0 0 0;
  gap: 1rem;
}

.previous-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  right: 16rem;
  top: 1rem;
  width: calc(40% - 16rem - 14px);
}

.previous-cards-history ul {
  display: flex;
  padding-bottom: 0.5rem;
  li figure,
  li figcaption {
    margin: 0 auto;
    width: 70%;
  }
}

.card-draw-form-list ul li figure img,
.previous-cards-history ul li figure img {
  border-radius: 0.5rem;
}

/* CardTarot.jsx */
.card-tarot-small {
  margin: 0 auto;
  width: 50%;
}
/*---------------------*/
.gray-button {
  background-color: gray;
}
