.main {
  display: grid;
  justify-content: center;
  grid-template-columns: 47% 6% 35%;
  max-width: 1480px;
  padding: 1rem 0;
  margin: 0 auto;
}

.card-draw {
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
  }
  input {
    width: 100%;
    position: relative;
    border: 1px solid #e6d9c3;
    border-radius: 0.5rem;
    padding: 0 0 0 0.5rem;
  }
}

.inquiry {
  display: flex;
  align-items: center;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ffedcf;
}

.card-draw-form-list {
  display: flex;
  justify-content: center;
}

.card-draw-form-list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
  span {
    text-align: center;
  }
  img {
    border-radius: 0.5rem;
    mix-blend-mode: multiply;
  }
}

.previous-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.previous-cards-history {
  figure {
    display: flex;
    justify-content: center;
  }

  img {
    width: 50%;
  }
}

.list-buttons {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .card-draw-form-list {
    padding: 0 0 1rem 0;
  }

  .card-draw-form-list-details {
    padding: 0 0 2rem 0;
  }

  .card-draw input {
    width: 70%;
  }

  .previous-cards h1,
  .previous-cards aside {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  .card-draw input {
    width: 50%;
  }
}
